.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.wrapper {
  margin-bottom: 15px;
}
.keys,
.values {
  display: flex;
  flex-wrap: wrap;
  column-gap: 10px;
  row-gap: 5px;
}
.title {
  margin: 10px 0px;
  font-weight: bolder;
  color: var(--primary-dark);
}
