.profileContainer {
  align-self: center;
  display: flex;
  flex-direction: column;
  padding: 2rem;
}
.profilePic {
  display: flex;
  flex-direction: column;
  width: var(--general-size);
  aspect-ratio: 1/1;
  align-self: center;
  margin-bottom: 2em;
}
.profilePic > img {
  /* position: absolute; */
  margin-bottom: calc(-1 * 100%);
  display: flex;
  justify-content: center;
  flex: none;
  align-self: center;
}
.profilePic img {
  width: 100%;
}
.actions {
  display: flex;
  justify-content: space-between;
  width: var(--general-size);
  align-self: center;
  gap: 2rem;
}
.actions > button {
  flex: 1 1 auto;
  background-color: var(--random-button);
  padding: 1rem 0px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  font-weight: 600;
  font-size: large;
}
